.custom-gradient {
  background: linear-gradient(to right, #9863a5, #02058a);
}

.custom-gradient-city {
  background: linear-gradient(to right, #768cb6, #0609a3);
}

#five-DayForecast-container {
  margin-top: 20px;
  display: flex;
}

.card-spacing {
  padding: 10px; /* from the top */
}

#currentWeather {
  border: 1px solid black;
}

.btn-enlarge:hover {
  transform: scale(1.1);
}
