.custom-gradient {
  background: linear-gradient(to right, #9863a5, #02058a);
}

.custom-gradient-city {
  background: linear-gradient(to right, #64728b, #0609a3, #b1cc37);
}

.custom-gradient-nav-container {
  background: linear-gradient(to right, #b3b6bb, #4a4b94, #0609a3, #96028e);
}

.btn-purple {
  background-color: rgb(69, 12, 134);
  color: white;
}

#five-DayForecast-container {
  margin-top: 20px;
  display: flex;
}

.card-spacing {
  padding: 10px; /* from the top */
}

#currentWeather {
  border: 1px solid black;
}

.btn-enlarge:hover {
  transform: scale(1.1);
}

#currentIcon {
  width: 80px; 
  height: 80px; 
}

h1 {
  font-family: "Open Sans", sans-serif;
}

h2 {
 font-family: "Roboto", sans-serif;
}

#currentCity {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}